<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Short name</th>
        <th>Affects</th>
        <th>Requirements</th>
        <th></th>
    </tr>
    <tr ng-repeat="action in vm.actions track by $index">
        <td>{{ action.name }}</td>
        <td>{{ action.description }}</td>
        <td>{{ action.type }}</td>
        <td>{{ action.short_name }}</td>
        <td>{{ action.affects }}</td>
        <td>{{ action.requirements }}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.setCurrentAction(action)"><span
                    class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteAction($index)"><span
                    class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</table>
