<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Company name</th>
        <th>Short name</th>
        <th>Affects</th>
        <th>Requirements</th>
        <th>Taking date</th>
        <th>Finish date</th>
        <th colspan="3"></th>
    </tr>
    <tr ng-repeat="job in CharJobCtrl.jobs track by $index">
        <td>{{ job.name }}</td>
        <td>{{ job.description }}</td>
        <td>{{ job.company_name }}</td>
        <td>{{ job.short_name }}</td>
        <td>{{ job.affects }}</td>
        <td>{{ job.requirements }}</td>
        <td>
            <input type="text" class="form-control" id="level" ng-model="job.taking_date" required/>
            <span class="alert-danger" ng-repeat="msg in job.errors.taking_date">
                {{ msg }}
            </span>
        </td>

        <td>
            <input type="checkbox" id="finish" ng-checked="job.finished"/>
        </td>
        <td style="width: 140px">
            <div class="block">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            ng-click="CharJobCtrl.update($index)">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button type="button" ng-show="job.isRequestSent" class="btn btn-default"
                            ng-click="CharJobCtrl.resetJob($index)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-danger"
                            ng-click="CharJobCtrl.delete($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <span class="alert-success" ng-show="job.status">
                {{ job.message }}
            </span>
            <span class="alert-danger" ng-show="!job.status">
                {{ job.message }}
            </span>
        </td>
    </tr>
</table>