<span class="glyphicon glyphicon-remove pull-right" ng-click="vm.currentJob = null"></span>
<h2 class="text-center">Job</h2>
<form class="form-horizontal" role="form" ng-submit="vm.updateJob()">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.currentJob.name" required
                   value="name">
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.name">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
            <textarea id="description" class="form-control" rows="3" ng-model="vm.currentJob.description" required
                      placeholder="description"></textarea>
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.description">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="company_name" class="col-sm-3 control-label">Company name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="company_name" placeholder="Company name" ng-model="vm.currentJob.company_name" required
                   value="company_name">
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.company_name">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="short_name" class="col-sm-3 control-label">Short name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="short_name" placeholder="Short name"
                   ng-model="vm.currentJob.short_name" required value="short name">
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.short_name">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="affects" class="col-sm-3 control-label">Affects</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="affects" placeholder="Affects" ng-model="vm.currentJob.affects"
                   required
                   value="affects">
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.affects">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="requirements" class="col-sm-3 control-label">Requirements</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="requirements" placeholder="Requirements"
                   ng-model="vm.currentJob.requirements" required value="requirements">
            <span class="alert-danger" ng-repeat="msg in vm.job.errors.requirements">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <button type="submit" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <span class="alert-success text-center" ng-show="vm.job.status">
                        {{ vm.job.message }}
                    </span>
                    <span class="alert-danger text-center" ng-show="!vm.job.status">
                        {{ vm.job.message }}
                    </span>
                </div>
                <div class="col-sm-3" ng-show="vm.job.isRequestSent">
                    <button type="button" class="btn btn-block btn-default" ng-click="vm.resetJob()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
    </div>
</form>