<h1 class="text-center login-title">Codium Admin Panel</h1>

<div class="account-wall">
    <img class="profile-img" src="/static/img/logo-login.png"
         alt="">

    <form class="form-signin" ng-submit="vm.login()">
        <input type="text" class="form-control" placeholder="Username" ng-model="vm.username" required
               autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
</div>
