<div class="container">
    <div ng-include="'static/templates/static/auth_brand.html'"></div>
    <form class="form-auth" role="form" ng-submit="vm.login()">
        <h2 class="form-auth-heading">Sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="vm.username">
        <input type="password" class="form-control" placeholder="Password" required ng-model="vm.password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>