<span class="glyphicon glyphicon-remove pull-right" ng-click="vm.currentProperty = null"></span>
<h2 class="text-center">Property</h2>
<form class="form-horizontal" role="form" ng-submit="vm.updateProperty()">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.currentProperty.name" required
                   value="name">
            <span class="alert-danger" ng-repeat="msg in vm.property.errors.name">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
            <textarea id="description" class="form-control" rows="3" ng-model="vm.currentProperty.description" required
                      placeholder="description"></textarea>
            <span class="alert-danger" ng-repeat="msg in vm.property.errors.description">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-3 control-label">Type</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="type" placeholder="Type" ng-model="vm.currentProperty.type" required
                   value="type">
            <span class="alert-danger" ng-repeat="msg in vm.property.errors.type">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="short_name" class="col-sm-3 control-label">Short name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="short_name" placeholder="Short name"
                   ng-model="vm.currentProperty.short_name" required value="short name">
            <span class="alert-danger" ng-repeat="msg in vm.property.errors.short_name">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="cost" class="col-sm-3 control-label">Cost</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="cost" placeholder="Cost" ng-model="vm.currentProperty.cost"
                   required
                   value="cost">
            <span class="alert-danger" ng-repeat="msg in vm.property.errors.cost">
                {{ msg }}
            </span>
        </div>
    </div>
    <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <button type="submit" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <span class="alert-success text-center" ng-show="vm.property.status">
                        {{ vm.property.message }}
                    </span>
                    <span class="alert-danger text-center" ng-show="!vm.property.status">
                        {{ vm.property.message }}
                    </span>
                </div>
                <div class="col-sm-3" ng-show="vm.property.isRequestSent">
                    <button type="button" class="btn btn-block btn-default" ng-click="vm.resetProperty()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
    </div>
</form>