<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Short name</th>
        <th>Requirements</th>
        <th>Parents</th>
        <th>Children</th>
        <th></th>
    </tr>
    <tr ng-repeat="knowledge in vm.knowledges track by $index">
        <td>{{ knowledge.name }}</td>
        <td>{{ knowledge.description }}</td>
        <td>{{ knowledge.type }}</td>
        <td>{{ knowledge.short_name }}</td>
        <td>{{ knowledge.requirements }}</td>
        <td>{{ knowledge.parents }}</td>
        <td>{{ knowledge.children }}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.setCurrentKnowledge(knowledge)"><span
                    class="glyphicon glyphicon-edit"></span></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.deleteKnowledge($index)"><span
                    class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
</table>
