<div class="panel panel-info" ng-controller="CharacterAttributesController as CharAttrCtrl">
    <div class="panel-heading" style="cursor: pointer" ng-click="CharAttrCtrl.body = !CharAttrCtrl.body">Attributes</div>
    <div class="panel-body" ng-show="CharAttrCtrl.body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Short name</th>
                <th>Default</th>
                <th>Min Vlaue</th>
                <th>Max Value</th>
                <th>Level</th>
                <th colspan="2"></th>
            </tr>
            <tr ng-repeat="attribute in CharAttrCtrl.attributes track by $index">
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.short_name }}</td>
                <td>{{ attribute.default }}</td>
                <td>{{ attribute.min_value }}</td>
                <td>{{ attribute.max_value }}</td>
                <td><input type="text" class="form-control" id="level"
                           min={{ attribute.min_value }}
                                   max={{ attribute.max_value }}
                           ng-model="attribute.level" required/>
                    <span class="alert-danger" ng-show="attribute.isRequestSent && !attribute.status">
                        <span ng-repeat="msg in attribute.result.level">
                            {{ msg }}
                        </span>
                    </span>
                    <span class="alert-success" ng-show="attribute.isRequestSent && attribute.status">
                        {{ attribute.result }}
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block"
                            ng-click="CharAttrCtrl.update($index)">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </td>
                <td>
                    <button ng-show="attribute.isRequestSent && !attribute.status" type="button" class="btn btn-default btn-block"
                            ng-click="CharAttrCtrl.reset($index)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>