<div class="panel panel-primary">
    <div class="panel-heading">Общая информация</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" ng-submit="vm.userUpdate()">
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Username</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username"
                           placeholder="Name" ng-model="vm.user.username" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <button type="button" ng-click="vm.userDelete()" class="btn btn-block btn-danger">Удалить</button>
                </div>
            </div>
        </form>
    </div>
</div>