<span class="glyphicon glyphicon-remove pull-right" ng-click="vm.currentUniversity = null"></span>
<h2 class="text-center">University</h2>
<form class="form-horizontal" role="form" ng-submit="vm.updateUniversity()">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.currentUniversity.name" required
                   value="name">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Description</label>

        <div class="col-sm-9">
            <textarea id="description" class="form-control" rows="3" ng-model="vm.currentUniversity.description" required
                      placeholder="description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="short_name" class="col-sm-3 control-label">Short name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="short_name" placeholder="Short name"
                   ng-model="vm.currentUniversity.short_name" required value="short name">
        </div>
    </div>
    <div class="form-group">
        <label for="affects" class="col-sm-3 control-label">Affects</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="affects" placeholder="Affects" ng-model="vm.currentUniversity.affects"
                   required
                   value="affects">
        </div>
    </div>
    <div class="form-group">
        <label for="requirements" class="col-sm-3 control-label">Requirements</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="requirements" placeholder="Requirements"
                   ng-model="vm.currentUniversity.requirements" required value="requirements">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>