<div class="panel panel-info" ng-controller="CharacterKnowledgesController as CharKnowCtrl">
    <div class="panel-heading" ng-click="CharKnowCtrl.body = !CharKnowCtrl.body">Knowledges</div>
    <div class="panel-body" ng-init="CharKnowCtrl.init(vm.user.character)" ng-show="CharKnowCtrl.body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Short name</th>
                <th>Requirements</th>
                <th>Parents</th>
                <th>Children</th>
                <th>Level</th>
                <th colspan="2"></th>
            </tr>
            <tr ng-repeat="knowledge in CharKnowCtrl.knowledges track by $index">
                <td>{{ knowledge.name }}</td>
                <td>{{ knowledge.description }}</td>
                <td>{{ knowledge.type }}</td>
                <td>{{ knowledge.short_name }}</td>
                <td>{{ knowledge.requirements }}</td>
                <td>
                    <select disabled class="form-control" multiple ng-model="knowledge.parents"
                            ng-options="knowledge.id as knowledge.name for knowledge in CharKnowCtrl.allKnowledges"></select>
                </td>
                <td>
                    <select disabled class="form-control" multiple ng-model="knowledge.children"
                            ng-options="knowledge.id as knowledge.name for knowledge in CharKnowCtrl.allKnowledges"></select>
                </td>
                <td>
                    <input type="text" class="form-control" id="level"
                           min="0" max="100" ng-model="knowledge.level" required/>
                    <span class="alert-danger" ng-repeat="msg in knowledge.errors.level">
                        {{ msg }}
                    </span>
                </td>
                <td style="width: 140px">
                    <div class="block">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary"
                                    ng-click="CharKnowCtrl.update($index)">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                            <button type="button" ng-show="knowledge.isRequestSent" class="btn btn-default"
                                    ng-click="CharKnowCtrl.resetKnowledge($index)">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
            <span class="alert-success" ng-show="knowledge.status">
                {{ knowledge.message }}
            </span>
            <span class="alert-danger" ng-show="!knowledge.status">
                {{ knowledge.message }}
            </span>
                </td>

            </tr>
        </table>
    </div>
</div>