<h1><a href="/">Codium</a></h1>
<nav>
    <ul class="nav nav-pills nav-stacked">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Контент <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="actions">Actions</a></li>
                <li><a href="attributes">Attributes</a></li>
                <li><a href="events">Events</a></li>
                <li><a href="properties">Properties</a></li>
                <li><a href="universities">Universities</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="jobs">Jobs</a></li>
            </ul>
        </li>
    </ul>
</nav>
